<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aday16_defineview"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CircleViewActivity"
            android:label="@string/title_activity_circle_view" >
          
        </activity>
        <activity
            android:name=".ImageViewMatrixActivity"
            android:label="@string/title_activity_image_view_matrix" >
        </activity>
        <activity
            android:name=".MyTextViewActivity"
            android:label="@string/title_activity_my_text_view" >
            
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
